= form_for @translation_key do |f|
  -if @translation_key.errors.any?
    #error_explanation
      %h2= "#{pluralize(@translation_key.errors.count, "error")} prohibited this translation_key from being saved:"
      %ul
        - @translation_key.errors.full_messages.each do |msg|
          %li= msg
  = f.fields_for :translation do |trans|
    .field
      = trans.label       :value
      = trans.text_field  :value

  .field
    = f.label :scope
    = f.text_field :scope
  .field
    = f.label :tkey
    = f.text_field :tkey
  .actions
    = f.submit 'Save'
