%h1 Translation Keys

- @translations.each do |translation|
  .translations
    .absolute_path
      != "<span class='scope'>#{translation.translation_key.scope}</span>.<span class='tkey'>#{translation.translation_key.tkey}</span>"
    .save
      Save     
    .translation
      .master_definition
        = translation.master_translation.value
      %textarea.definition= translation.value


= link_to 'New Translation key', new_translation_key_path
